Repository coffeebean-kenobi/shifteditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @devops-team, @backend-team, @frontend-team

.github/CODEOWNERS:

# これらのオーナーは、このリポジトリ内のすべてのディレクトリおよびファイルの
# デフォルトの所有者であり、必要に応じて上書きされます

* @project-admin

# インフラ関連のファイル
Dockerfile @devops-team
docker-compose.yml @devops-team
.github/workflows/ @devops-team

# バックエンド関連のファイル
app/api/ @backend-team
prisma/ @backend-team

# フロントエンド関連のファイル
app/components/ @frontend-team
app/(routes)/ @frontend-team

Add CI/CD configuration
  .github/workflows/deploy-to-oci.yml
  docker-compose.prod.yml
  scripts/deploy-oci.sh
  開発サーバ接続.txt
Owners: @devops-team, @project-admin

Add CI/CD configuration
  docs/oci_production_deployment.md
Owners: @project-admin

Add CI/CD configuration
  .github/workflows/ci.yml
  github_actions_deploy_key
  github_actions_deploy_key.pub
Owners: @devops-team, @project-admin

Delete Vercel configuration
  .gitignore
  docs/README.md
  docs/インフラ構成図.md
  docs/コントリビューションガイド.md
Owners: @project-admin

add test configuration
  .github/workflows/test-secrets.yml
Owners: @devops-team

add test configuration
  github_actions_deploy_key.pub
Owners: @project-admin

デバッグ用SSHワークフローを追加
  .github/workflows/debug-ssh.yml
Owners: @devops-team
